.MessageInput {
  box-sizing: border-box;
  min-height: 40px;
  padding: 10px;
  resize: none;
  outline: none;
  overflow: hidden;
  /* border: none; */
  border-radius: 5px;
  word-wrap: break-word;
}