.Actions {
  margin-left: 20px;
  position: relative;
  align-self: center;
}

.currentMember .Actions {
  margin-left: 0;
  margin-right: 20px;
}

.ToggleButton {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(88, 139, 206);
  cursor: pointer;
}

.Options {
  position: absolute;
  right: 0;
  z-index: 1;
  /* width: 50px; */
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  text-align: start;
}

.Options button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.currentMember .Options {
  left: 0;
  right: auto;
}