.Message {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  padding-right: 30px;
}
.Message img {
  margin-right: 20px;
}

.Message-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  background-color: lightcyan;
  border-radius: 10px;
}

.Author {
  font-weight: bold;
}

.Message time {
  align-self: flex-end;
  font-size: 14px;
}

.currentMember img {
  order: 2;
  margin-right: 0;
  margin-left: 20px;
}

.currentMember .Message-content {
  order: 1;
}

.currentMember {
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 30px;
}

.Like-button {
  position: relative;
  align-self: center;
  padding: 5px 15px 5px 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: rgb(88, 139, 206);
  outline: none;
}

.Liked .Like-button::after {
  content: "\2714";
  position: absolute;
  top: 3px;
  width: 15px;
  height: 15px;
}